<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="/layouts/head::head">
<meta charset="UTF-8">
<!-- <title>Insert title here</title> -->
</head>
<body>

<!--   FOOTER   -->
				
			<footer id="footer" class="pb-4 pt-4 mt-5 footer-gam">
				<div class="container text-light">
					<div class="row text-center">
						<div class="col-12 col-lg">
							<a href="#">Preguntas frecuentes</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Contáctanos</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Prensa</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Conferencias</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Términos y condiciones</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Privacidad</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Nuestros empleados</a>
<!-- 				aqui digo q pongamos uestros nombres  -->
						</div>
					</div>
				</div>
			</footer>
<!-- <footer th:fragment="footer"> 
	<p>PRESENTACION DEL PROYECTO FINAL</p>
	<p> INTEGRANTES</p> 
	<p> BENICIO, ANTONELLA MARIEL AYELEN</p>	
	<p> HUMANA, GUSTAVO HERNAN</p> 
	<p> MENDOZA, EMMANUEL</p>  
	<p> POCLAVA, MELANI MICAELA</p> 
	
</footer>-->
</body>
</html>