<DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="/layout/head::head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body class="bg-dark">
<!-- CONSULTAR HEADER A EMPRESA O HEADER EMPRESA A HEADER EMPRESA-->
<header th:insert="/layout/header_empresa::header_empresa"> </header>
    <div class="container col-12 m-5">
        <h4 class="display-4 text-white">BIENVENID@!</h4>
        <!-- MOSTRAR NOMBRE DE LA EMPRESA -->
        <div class="text-center">           
        <!-- imagen sin destino -->
        
        </div>  
    </div>
</body>
</html>