<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="/layout/head::head">
<meta charset="UTF-8">
<title>Ciudadanos</title>
</head>

<body class="bg-dark">
	<div>
		<div class="row bg-warning">
			<div class="col-10">
		    <h1 class="display-2">
				<img src="https://portalempleo.gob.ar/images/ciudadanos.svg" alt=""
					width="90" height="90" /> Ciudadanas/os
			</h1>
			</div>
			    <div class="col-2 text-end align-self-center">
			    <a th:href="@{/logEmpr?error=true}">
			     <button type="button" class="btn btn-warning btn-lg bi bi-box-arrow-left"> Salir</button>
			    </a>
				   </div>
		</div>
		<div class="container bg-white mt-5">
			<div class="row justify-content-center mb-4">
				<div class="col-1 position-relative ">
					<i class="bi bi-clock" style="font-size: 5rem;"></i>						 	
				</div>
				<div class="col-4">
					<div>
						<h1 class="display-5">Mi perfil laboral</h1>
						<p>Armá tu CV: carga tus estudios, experiencia laboral,
							idiomas, cursos. Podés editarlo, modificarlo la cantidad de veces
							que lo necesites.</p>
					</div>
				</div>
				<div class="col-3 align-self-center">
					<a th:href="@{/nuevoCv}">
						<button type="button" class="btn btn-outline-warning  w-100">Continuar</button>
					</a>

				</div>
			</div>
			<div class="row justify-content-center mb-4">
				<div class="col-1 position-relative">
			       <i class="bi bi-file-arrow-down" style="font-size: 5rem;"></i>
				</div>
				<div class="col-4">
					<div>
						<h1 class="display-5">Obten tu corriculum</h1>
						<p>Descargá el CV para imprimir</p>
					</div>
				</div>
				<div class="col-3 align-self-center">
					<!-- 				  agregar la referencia -->
					<a>
						<button type="button" class="btn btn-outline-warning  w-100">Descargar</button>
					</a>

				</div>
			</div>

			<div class="row justify-content-center mb-4">
				<div class="col-1 position-relative">
					<i class="bi bi-search" style="font-size: 5rem;"></i>	
				</div>
				<div class="col-4">
					<div>
						<h1 class="display-5">Buscar empleo</h1>
						<p>Postulate a ofertas laborales publicadas por empresas</p>
					</div>
				</div>
				<div class="col-3 align-self-center">
					<a th:href="@{/ofertasLaborales}">
						<button type="button" class="btn btn-outline-warning  w-100">Buscar
						</button>
					</a>

				</div>
			</div>

		</div>
	</div>
		<footer th:insert="/layout/footer::footer"></footer>
</body>

</html>