<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head th:insert="/layout/head::head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:insert="/layout/header_empresa::header_empresa"> </header>
    <div>
    <!-- estoy por agragar formulario para tomar informacion asi solo mostrar los perfiles requeridos-->
         <section>
          <h1>Lista de postulantes</h1>
          <table class="table">      
            <tbody>
              <thead>
                <tr>
                <th>DNI</th>
                <th>PROVINCIA</th>
                <th>FECHA NACIMIENTO</th>
                </tr>
            </thead>
            <tbody>
              <tr th:each="empleado:${empleados}">
                <td th:text="${empleado.dni}"></td>
                <td th:text="${empleado.provincia}"></td>
                <td th:text="${empleado.fnac}"></td>
                <td>
                 <a  id="editarConcursante" class="btn btn-warning">mas info</a              	</td>
               </tr> 
            </tbody>
          </table>
      
         </section>
 </div>
</body>
</html>