<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:insert="/layout/head::head">
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<header th:insert="/layout/header::header"> </header>

	<form th:action="@{/indexEmpr}" th:object="${login}"  class="row g-3">
		<div class="form-floating mb-3">
			<input th:field="*{cuit}" type="text" class="form-control" id="floatingInput" placeholder="000000000">
			<label for="floatingInput">Cuit</label>
		</div>
		<div class="form-floating" th:object="${contrasenia}">
			<input th:field="*{contrasenia}"  type="password" class="form-control" id="floatingPassword"
				placeholder="Password">
			<label for="floatingPassword">Contrasenia</label>
		</div>
		<br>
		<div class="col-12">
			<button type="submit" class="btn btn-primary">Ingresar</button>
		</div>
	</form>
	<br>
		<a th:href="@{/NuevoEmpr}" id="eliminarConcursante" class="btn btn-danger">registrarme</a>
</body>

</html>