@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Italianno&family=Marck+Script&family=Niconne&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.registroCi .aside {
    width:15%;
    padding: 20px;
    padding-left: 30px;
    margin-left: 15px;
    float: right;
    font-family: 'Raleway', sans-serif;
}

/* label{ */
/*     font-size: 50px; */
/*     font-weight: bold; */
/*     font-family: 'Raleway', sans-serif; */
/* } */

header {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

/* footer{ */
/*     font-weight: 100; */
/* } */



/* menu */

/* .menu{ */
/*     list-style: none; */
/*     padding: 0; */
/*     background: #092327; */
/*     width: 100%; */
/*     margin: auto; */
/* } */


.menu li a{
    text-decoration: none;
    color:white;
    padding: 20px;
    display: block;
    cursor:pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: green ;
}
/* fin menu */




footer {
text-align: center;
font-size: 25px;
font-family: 'Raleway', sans-serif;
margin: auto;
}


  /* Registro Cv - Nuevo Ciudadano - Nueva Empresa ----------------------------*/

  
.registroCi {
    width: 450px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: black;
    box-shadow: 7px 13px 37px #000;   
}

.registroCv {
    width: 450px;
    background: #ffc107;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: black;
    box-shadow: 7px 13px 37px #000;   
}

.registroEmp {
    width: 450px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: black;
    box-shadow: 7px 13px 37px #000;   
}



.registroCi .editTxt , .registroEmp .editTxt , .registroCv .editTxt{
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500;
}



.registroCi .btn , .registroEmp .btn , .registroCv .btn{
    width: 95%;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500;
    padding: 13px;
    margin: 10px;
}

/* cursos html */

/*      .curso .card .dimension { */
/*             width: 500px; */
/*             height: 300px; */
/*         } */

/*         .curso .card .nav-tabs .nav-link.active { */
/*             background-color: #07b2e6; */
/*             color: #fff; */
/*             border: 3px solid #07b2e6; */
/*         } */

/*         .curso .card .nav-tabs .nav-link { */
/*             background-color: #fff; */
/*             color: #07b2e6; */
/*             border: 3px solid #07b2e6; */
/*             margin-right: 2rem; */
/*             padding-left: 3rem; */
/*             padding-right: 3rem; */
/*         } */

/*        .curso .card .nav-tabs .nav-link:hover { */
/*             border: 3px solid #07b2e6; */
/*         } */

/*         .cruso .card .nav-tabs { */
/*             border-bottom: 1px solid #07b2e6; */
/*         } */

/*         .curso .card .tab-content { */
/*             border: 1px solid #07b2e6; */
/*             padding: 20px; */
/*         } */

/*         .curso .card .img{ */
/*            width: 390px; */
/*            height: 270px; */
/*         } */


